openmarketterminal-qt/build/
openmarketterminal-qt/build-*/
openmarketterminal-qt/uitest/
openmarketterminal-qt/.vs/
openmarketterminal-qt/cmake-build-*/
build/
build-*/
out/
.vs/
.vscode/
.idea/
*.user
tmpqt/
.git/
.gitignore
images/
docs/
.github/
*.md
package.json
package-lock.json
funding.json
updates.json
openmarketterminal_icon.ico
setup.sh
Dockerfile
.dockerignore
